.my-custom-input-class :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
input::-webkit-input-placeholder {
    color: rgb(209, 203, 202);
}
input::-moz-placeholder {
    color: rgb(209, 203, 202);
}
